@import 'material-icons/iconfont/material-icons.css';

#composer {
  width: calc(100% - 77px);
  height: 40px;
  padding: 0 10px;
  outline: 0;
  font-size: 16px;
  color: #3d3d3d;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
}

.add-task {
  font-size: 55px;
  vertical-align: middle;
  padding-bottom: 4px;
  cursor: pointer;
  color: #8e49e7;
}

.add-task:hover {
  color: #6627b6;
}
